#include <winver.h>
#include "eg-overlay.h"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION    RC_VERSION_NUM
    PRODUCTVERSION RC_VERSION_NUM
    FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
    FILEFLAGS      VS_FF_DEBUG | VS_FF_PRERELEASE
    FILEOS         VOS__WINDOWS32
    FILETYPE       VFT_APP
    FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription",  "EG-Overlay: A GW2 Overlay"
            VALUE "CompanyName",      "Taylor Talkington (The-EG)"
            VALUE "LegalCopyright",   "(C) 2024 Taylor Talkington (The-EG)"
            VALUE "FileVersion",      VERSION_STR
            VALUE "OriginalFileName", "eg-overlay.exe"
            VALUE "ProductName",      "EG-Overlay"
            VALUE "Productversion",   VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END