builddir/

docs/_build

# ignore everything in subprojects except the wrap files
subprojects/*
!subprojects/curl.wrap
!subprojects/freetype2.wrap
!subprojects/libxml2.wrap
!subprojects/zlib.wrap
!subprojects/lua-5.4.7/
!subprojects/jansson-2.14/

__pycache__/

.venv/
.vscode/*

!.vscode/launch.json

release/

# documentation index
genindex.rst
lua-modindex.rst
overlay-eventindex.rst
